.cart-tb {
    margin: 0 auto;
    text-align: center;
    width: 80%;
    border-collapse: collapse;
}
.cart-tb .cart-cap{
    text-align: left;
    font-size: 2em;
    font-weight: bold;
    padding-left: 0.5em;
    padding-bottom: 0.5em;
    letter-spacing: -0.05em;
    margin-top: 200px;
}
.cart-tb .cart-cap2{
    height: 3px;
    background:#e5e5e5;
    margin-bottom: 2em;
}

.cart-tb tr th:nth-child(1){
    width:3%;
    min-width:65px;
}
.cart-tb tr td:nth-child(2){
    text-align: left;
}
.cart-tb tr th:nth-child(3){
    width:5%;
    min-width:100px;
}
.cart-tb tr th:nth-child(4){
    width:8%;
    min-width:100px;
}
.cart-tb tr th:nth-child(5){
    width:8%;
    min-width:80px;
}
.cart-tb tr th:nth-child(6){
    width:8%;
    min-width:80px;
}

.cart-tb th{
    padding: 1em;
    border-top: 2px solid #cdc1b4;
    border-bottom: 2px solid #cdc1b4;
}
.cart-tb td{
    padding: 0.6em;
    
}
.cart-tb tr td{
    border-bottom: 1px solid #cdc1b4;
}